figures/
experimental/checkpoints/
sim_data/
hierarchical/
playground/
checkpoints/
simulators/
Meta_Diffusion_Model.ipynb
BayesFlow_Levy.ipynb
BayesFlow_Levy_Cython.ipynb
__pycache__/
.ipynb_checkpoints/
diffusion_api.h
diffusion.cp36-win_amd64.pyd
diffusion.c
build
.idea/
docs/build/
*/.ipynb_checkpoints/
design/
projects/

# vim
*.swp

# build
*.egg-info
